<!-- design=console -->
<h1>%SERVER_SOFTWARE% User Configuration</h1>


<form action="%PATH_[config_users]%&update=true&user=%nick%&change=password" method="POST" accept-charset="utf-8">%account_error_if_one%
  <p class="form-section-title">
    Necessary information
  </p>
  <p>
  The new password:<br />
  <span class="form-hint">Should be at least four characters long!</span><br />
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm col-md-5 mb-2" name="new_pwd" value="">
  Repeat new password:<br />
  <span class="form-hint">To make sure you are not committed!</span><br />
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm col-md-5 mb-2" name="new_pwd2" value="">
  </p>
  <p class="form-section-title">
    And already done...
  </p>
  <p>
  <input type="submit" class="btn btn-secondary btn-sm" name="OK" value="Send a change!!">
  </p>
</form>
