<!-- design=console -->
<h1>%SERVER_SOFTWARE% User Configuration</h1>
<form action="%PATH_[config_users]%&update=true&user=%nick%" method="POST" accept-charset="utf-8">
  <p class="form-section-title">
    Here you can edit the profile %nick%  of
  </p>
  <p>
  What do you want to do exactly now?</br>
  <select class="form-control form-control-sm col-md-6 mb-3" name="change" size="4">
    <option value="Profile" selected>Processing profile</option>
    <option value="Password">Processing the password</option>
    <option value="Data">Processing account data</option>
    <option value="delete">Delete account</option>
  </select>
  </p>
  <p class="form-section-title">
    ... And then we go on...
  </p>
  <p>
  <input type="submit" class="btn btn-secondary btn-sm" name="OK" value="Continue to the next page">
  </p>
</form>
