<!-- design=console -->
<h1>%SERVER_SOFTWARE% Emoticon configuration</h1>
<span style="font-weight: bold">%success%</span>
<p>
<span style="font-weight: bold">Note:</span> An empty field removes the entry!
<table>
<form action="%PATH_[config_emot]%&update=true" method="POST">
%config%
<td><input type="text" name="name" class="form-control form-control-sm" value=""> </td><td><input type="text" class="form-control form-control-sm" name="value" value=""></td></tr>
<td> </td><td>
<input type="submit" class="btn btn-secondary btn-sm" name="" value="Submit">
</form>
</td></tr>
</table>
</p>
