.chat_frame a, .chat_frame a:hover { 
    color: #000099;
    }

.chat_frame a { 
    text-decoration: none;
    }

.chat_frame a:hover { 
    text-decoration: underline;
    }
	

.right_frame a, .right_frame a:hover { 
    color: #000099;
    }

.right_frame a { 
    text-decoration: none;
    }

.right_frame a:hover { 
    text-decoration: underline;
    }
