<!-- design=account -->
<h1>%SERVER_SOFTWARE% &ndash; Password</h1>

<form action="%PATH_[account]%" method="POST" accept-charset="utf-8">%account_error_if_one%
  <input type="hidden" name="service" value="password">
  <input type="hidden" name="data" value="change">

  <p class="form-section-title">Change password</p>

  <div class="row g-2 mb-3">
    <div class="col-md-6">
      <label class="form-label fw-semibold small">Old password</label>
      <input type="password" class="form-control form-control-sm" name="old_pwd" value="" placeholder="Old password">
      <span class="form-hint">Should be at least four characters long!</span>
    </div>
  </div>

  <div class="row g-2 mb-3">
    <div class="col-md-6">
      <label class="form-label fw-semibold small">New password</label>
      <input type="password" class="form-control form-control-sm" name="new_pwd" value="" placeholder="New password">
      <span class="form-hint">Should be at least four characters long!</span>
    </div>
  </div>

  <div class="row g-2 mb-3">
    <div class="col-md-6">
      <label class="form-label fw-semibold small">Repeat new password</label>
      <input type="password" class="form-control form-control-sm" name="new_pwd2" value="" placeholder="Repeat new password">
      <span class="form-hint">To make sure you didn't make a mistake!</span>
    </div>
  </div>

  <p class="form-section-title">Save</p>

  <input type="submit" class="btn btn-primary btn-sm" name="OK" value="Submit change">
</form>
