<!-- design=napping_account -->
<h1>%SERVER_SOFTWARE% Profile picture</h1>


<form action="UploadFile" method="post" enctype="multipart/form-data">  
  <input type="hidden" name="service" value="password">
  <input type="hidden" name="data" value="change">
  <input type="hidden" name="owner" value="%owner%">
  <p class="form-section-title">
    Choose a file to upload!
  </p>
  <p>
  <input type="file" name="file" size="50" class="form-control-file mb-2"/>
  <a href="%path_hwebchat%?page=account&service=picture_del&data=delete&skin=%skin%">Click here to delete an existing profile picture!</a>
  </p>
  <p class="form-section-title">
    And already done...
  </p>
  <p>
  <input type="submit" class="btn btn-secondary btn-sm" name="OK" value="Submit change">
  </p>
</form>
