<!-- design=start -->
<div class="toplist">
  <div class="toplist-header">
    <h1>Top list</h1>
    <p class="toplist-meta">
      It is in this chat <strong>%reg_count%</strong> Chatter registered.
    </p>
  </div>
  <div class="toplist-table-wrap">
    <table class="toplist-table">
      <thead>
        <tr>
          <th class="col-rank">Range</th>
          <th class="col-nick">Nick</th>
          <th class="col-points">Points</th>
          <th class="col-reg">Registered since</th>
          <th class="col-login">Last login</th>
          <th class="col-online">Status</th>
        </tr>
      </thead>
      <tbody>
%toplist%
      </tbody>
    </table>
  </div>
</div>
