<!-- design=napping_account -->
<form action="%PATH_[account]%" method="POST" accept-charset="utf-8">
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    Hier kannst du Deinen Account verwalten...
  </p>
  <p>
  Was willst du jetzt genau machen?</br>
  <select class="form-control form-control-sm col-md-6 mb-3" name="service" size="6">
    <option value="account" selected>Profil bearbeiten</option>
    <option value="napping">Chatnapping</option>
    <option value="picture">Profilbild hochladen</option>
    <option value="password">Passwort bearbeiten</option>
    <option value="data">Accountdaten bearbeiten</option>
    <option value="delete">Account l&ouml;schen</option>
  </select>
  </p>
  <input type="hidden" name="owner" value="%owner%">
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    ... Und weiter geht's...
  </p>
  <p>
  <input type="submit" class="input-group-append btn btn-secondary btn-sm" name="OK" value="Weiter zur n&auml;chsten Seite">
  </p>
</form>