<!-- design=frameset_privchat_napping -->
<script>
function submitMessage(text)
{
    text = escapeHtml(text);
    var msg = {
       category: "privchat_user_%oldnick%|%target%",
       message: text,
       target: ""
    };
    socket.send(JSON.stringify(msg));
}
</script>


  <div class="chat_frame" id="chat_window">
    <script type="text/javascript" src="%PATH_[script_nav]%"></script>
  </div>
  <div class="post_frame post_field input-group">
      <input type="text" class="form-control form-control-sm" autocomplete="off" id="message" maxlength="1024" value="" onkeydown="return submitChatInput(event);"></input>
      <input type="button" value="Senden" class="input-group-append btn btn-secondary btn-sm" onclick="sendText();"></input>
      <script type="text/javascript">
    App = {};
    let textarea = document.getElementById("message");
    if (!(App.emojiSelector instanceof Emojilist)) {
        App.emojiSelector = new Emojilist();
    }
    App.emojiSelector.attach({
        node: textarea,
        insert: function(emoji, event) {
            let startBefore = textarea.selectionStart,
            before = textarea.value.substr(0, startBefore),
            after = textarea.value.substr(textarea.selectionEnd);
            textarea.value = before + emoji + after;
            textarea.setSelectionRange(before.length+emoji.length, before.length+emoji.length);
            textarea.focus();
            /*event.preventDefault();
            event.stopPropagation();*/
        },
        categoryclick: function(event) {
            textarea.focus();
            /*event.preventDefault();
            event.stopPropagation();*/
        },
        offset: '15%',
        prepend: true,
        template: '<div class="popover" style="width: 50vw!important; max-width: 50vw!important; min-width: 50vw; height: 50vh!important; max-height: 50vh!important; min-height: 50vh!important;" role="tooltip"><div class="arrow"></div><div class="popover-body" style="position: relative; width: 100%!important; max-width: 100%!important; min-width: 100%; height: 100%!important; max-height: 100%!important; min-height: 100%!important; overflow-y: scroll;"></div></div>',
        pageTitle: function(title) {
            return {
                'Recent':'😁',
                'Smileys & People':'😀',
                'Animals & Nature':'🐱',
                'Food & Drink':'🍟',
                'Travel & Places':'🚄',
                'Activities':'⚽',
                'Objects':'💿',
                'Symbols':'❓',
                'Flags':'🏁'
            }[title];
        },
        container: 'body'
    });
    </script>
  </div>
  <script type="text/javascript" src="%PATH_[script_chat_privchat]%"></script>
  <script type="text/javascript" src="%PATH_[script_post_privchat]%"></script>
  <script type="text/javascript" src="%PATH_[script_color]%"></script>
