<!-- design=napping -->
<h1>
%SERVER_SOFTWARE%-Registrierung!
</h1>
<form action="%PATH_[register]%" method="POST" accept-charset="utf-8">%reg_error_if_one%
  <input type="hidden" name="service" value="reg_done">
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    Notwendige Angaben
  </p>
  <p>
  <div class="input-group">
  <select class="form-control form-control-sm col-md-1 mb-2" name="reg_gender" size="1">
    <option value="-"%selected_no%>Geschlecht</option>
    <option value="m"%selected_male%>Der</option>
    <option value="f"%selected_female%>Die</option>
  </select>
  <input type="text" size="20" maxlength="20" class="form-control form-control-sm col-md-6 mb-2" name="reg_nick" value="%reg_nick%" placeholder="Dein Nickname: (Mindestens zwei Zeichen lang und ohne Sonderzeichen)">
  </div>
    <div class="input-group">
  <input type="text" size="2" maxlength="2" class="form-control form-control-sm col-md-1 mb-1" name="reg_day" value="%reg_day%" placeholder="Geburtstag: Tag">.<input type="text" size="2" maxlength="2" class="form-control form-control-sm col-md-1 mb-1" name="reg_month" value="%reg_month%" placeholder="Monat">.<input type="text" size="4" maxlength="4" class="form-control form-control-sm col-md-1 mb-1" name="reg_year" value="%reg_year%" placeholder="Jahr">
  </div>
  <input type="email" size="50" maxlength="255" class="form-control form-control-sm col-md-5 mb-2" name="reg_mail" value="%reg_mail%" placeholder="Deine E-Mailadresse">
  <input type="email" size="50" maxlength="255" class="form-control form-control-sm col-md-5 mb-2" name="reg_mail2" value="" placeholder="Deine E-Mailadresse (Wiederholung)">
  </p>
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    Sicherheitscode!
  </p>
  <p>
    <img src="%PATH_[captcha]%" /><br>
    <input type="text" size="10" maxlength="10" class="form-control form-control-sm col-md-5 mb-2" name="reg_captcha" value="%reg_captcha%" placeholder="Bitte beachten sie die genaue Schreibweise"/>
    <input type="hidden" name="reg_cid" value="%reg_cid%"/>
    <input type="hidden" name="owner" value="%owner%"/>	
  </p>
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    Und schon Fertig...
  </p>
  <p>
  <input type="submit" class="input-group-append btn btn-secondary btn-sm" name="OK" value="Registrierung abschlie&szlig;en!">
  </p>
</form>