<!-- design=start -->
<h1>Herzlich Willkommen im CoolChat</h1>
<p>
Dieser Chat ist ein Communtiyprojekt und soll den CoolChat wiederaufleben lassen.<br>
Der Chat bietet wie damals eine Chatnappingfunktion an (Per Accountverwaltung konfigurierbar und besondere Rechte f&uuml;r den Rauminhaber) und basiert auf moderner Technologie.<br> 
Damit soll eine Symbiose aus klassischem Chat und moderner Technik erreicht werden.<br>
F&uuml;r den Chatter wird durch eine Vielzahl von Befehlen und Funktionen das Gef&uuml;hl von den Webchats von damals &uuml;bermittelt.<br>
Der Entwicklungsstand des Chats ist durch eine lange Programmierzeit sehr weit fortgeschritten und ist "From-The-Scratch" entwickelt.<br> 
</p>
<p>
Der Chat ist vollkommen werbefrei und kann mit freiwilligen Spenden gef&ouml;rdert werden.
</p>
<p>
Unser Team freut sich auf Dich, werde ein Teil des CoolChats und dessen Community.
</p>
  Es sind <span style="font-weight: bold;">%reg_count%</span> Chatter registriert!
<p class="users">
<script type="text/javascript" src="%PATH_[script_room]%"></script>
</p>
<p>
Viel spa&szlig; im Chat!
</p>