<!-- design=left -->
<div id="left">
<div id="lefttitle">
:: Befehle ::
</div>
<div id="leftcontent">
      &raquo; <a href="%PATH_[whois_chat]%" target="shadow">Wer ist Wo</a><br>
      &raquo; <a href="%PATH_[whois_channel]%" target="shadow">Wer ist Hier</a><br>
      &raquo; <a href="%PATH_[clear_chat_window]%" target="shadow">Fenster leeren</a><br>
      &raquo; <a href="%PATH_[get_my_ip]%" target="shadow">Eigener Host</a><br>
      &raquo; <a href="%PATH_[get_chatinfo]%" target="shadow">Chatinfo</a><br>
      &raquo; <a href="%PATH_[quit_chat]%" target="shadow">Ausloggen</a><br>
</div>
</div>
<div id="left">
<div id="blank">
</div>
<div id="lefttitle">
:: Hilfen ::
</div>
<div id="leftcontent">
      &raquo; <a href="javascript:open_window('%PATH_[emot]%','emot');">Emoticons</a><br>
      &raquo; <a href="javascript:open_window('%PATH_[help]%','help');">Liste aller Befehle</a><br>
      &raquo; <a href="javascript:open_window('%PATH_[account]%','account');">Account verwalten</a><br>
      &raquo; <a href="javascript:open_window('%PATH_[memory]%','memory');">Speicherinfo</a><br>
      &raquo; <a href="javascript:open_window('%PATH_[ua]%','ua');">User-Agent</a><br>
</div>
</div>
<div id="left">
<div id="blank">
</div>
<div id="lefttitle">
:: Farbe ::
</div>
<div id="leftcontent">
<div id="colorpicker"></div>
  <form name="f" action="%PATH_[input]%" method="POST" onsubmit="return submitOpera();" accept-charset="utf-8" target="shadow">
<input type="text" class="color_field" id="msg" name="msg" value="#123456" onkeydown="return submitChatInput(event);"></input>
</form>
</div>
</div>