<!-- design=start -->
<h1>CoolChat-Chattiquette</h1>
      <ol>
        <li> 
          Begegne anderen Chattern mit Respekt und H&ouml;flichkeit. Dann werden auch sie Dich respektieren und h&ouml;flich behandeln.
        </li>
        <li>
          Wenn Du das erste Mal einen Chat-Raum betrittst, springe nicht gleich ins Geschehen. Schaue lieber erst, was f&uuml;r Leute da sind und welche Stimmung herrscht. In eine Kneipe rennst Du ja auch nicht hinein, springst auf einen Tisch und br&uuml;llst: "Hey Leute, da bin ich - unterhaltet mich!" Vielleicht liegen Dir Stimmung und Leute in diesem Chat gar nicht, dann kannst Du einfach den Raum wechseln.
        </li>
        <li>

          Du flirtest gerne? Aber vielleicht dein Gegen&uuml;ber nicht. Wenn sich jemand abweisend verh&auml;lt, dann lasse ihn / sie in Ruhe, anstatt weiter zu bohren. Manchen nervt schon die Frage: "Bist Du m oder w?"
        </li>
        <li>
          Jeder hat mal schlechte Laune. Aber lasse diese Gef&uuml;hle nicht an den anderen Chattern aus! Wenn es Dir schlecht geht, musst Du nicht auch noch den anderen das Leben schwer machen - denn chatten bedeutet schlie&szlig;lich Spa&szlig;.
        </li>
        <li>
          Hilf den Newbies! Wenn ein "Neuling" hereinkommt, erinnere Dich an Deinen ersten Chat. Hat Dir damals jemand geholfen? Dann tue es ihm gleich. Hat Dir keiner geholfen? Dann mach' es besser als die anderen damals, die Dir h&auml;tten helfen sollen. Vielleicht wird aus dem Newbie ein Stammchatter und ein Freund.</li>
        <li>
          Wenn Du jemanden ansprechen m&ouml;chtest, dann adressiere Deinen Satz, Beispiel: "Hi Nickname. Welche Musik h&ouml;rst Du gerne?" Sonst wei&szlig; derjenige unter Umst&auml;nden nicht, dass Deine Frage an ihn gerichtet war - und wird daher auch nicht antworten.
        </li>

        <li>
          Chatten ist Spa&szlig; und Humor geh&ouml;rt dazu. Aber jeder hat einen anderen Humor, und was Du total witzig findest, kann bei einem anderen Magenschmerzen verursachen. Ganz davon abgesehen, dass Geschriebenes h&auml;ufig ganz anders wirkt als Gesprochenes.
        </li>
        <li>
          <span style="text-transform: uppercase;">
            Gro&szlig;buchstaben
          </span>
          , Grafiksmileys und sonstige Sonderbefehle sind nur als Betonung zu verwenden, zum Beispiel wenn Du jemanden ansprichst und seinen Namen hervorhebst oder du deine Stimmung ausdr&uuml;cken willst. Wenn Du diese Mittel st&auml;ndig verwendest, werden die anderen genervt reagieren. Mit Gro&szlig;buchstaben bringt man u.a. zum Ausdruck, da&szlig; man schreit. Wer nonstop gross schreibt, macht sich unbeliebt.
        </li>
        <li> 
          Bedenke: Gewalt- und Drogenverherrlichung, pornographische Darstellungen und rassistische &Auml;u&szlig;erungen werden strafrechtlich geahndet.
         </li>

        <li> 
          Benimmt sich jemand im Chat daneben, dann lasse ihn einfach in Ruhe. Er wird sich nach kurzer Zeit langweilen und verschwinden, wenn ihn keiner beachtet. Ist es ein besonders hartn&auml;ckiger, dann benachrichtige den Chat-Administrator oder einen anwesenden VIP. Den Chat-Administrator solltest Du in jedem Falle benachrichtigen, wenn sich jemand durch seine &Auml;u&szlig;erungen strafbar macht.
         </li>
        <li> 
          Da du die M&ouml;glichkeit hast, Dir einen "Nick" (Abk. f&uuml;r Nickname) auszusuchen, w&auml;hle keinen Nick, der andere Chatter beleidigt oder das Ziel hat, andere Chatter zu &auml;rgern (zB. Fake-Nicks). Selbstverst&auml;ndlich sind auch rassistische oder Gewalt verherrlichende Nicks verboten.
        </li>
        <li> 
          Gib Dich nicht dem Irrglauben hin, Du seiest im Chat anonym. Das bist Du nicht. Chat-Server schneiden Deine Rechner-Adresse (IP) mit und speichern sie. &Uuml;berdie IP-Adresse kommt der Chat-Betreiber zu Deinem Provider. Dieser speichert wiederum Deine Telefonnummer, mit der Du Dich eingew&auml;hlt hast. So haben die Chat-Betreiber die M&ouml;glichkeit, Personen, die besonders unangenehm auffallen, zur Rechenschaft zu ziehen. Die meisten Chats protokollieren die Chats mit, um Straftaten beweisen zu k&ouml;nnen.
        </li>
        <li> 
          Es gibt die M&ouml;glichkeit, einen Link in den Chat zu werfen, nutze dies nicht f&uuml;r Werbung f&uuml;r andere kommerzielle Angebote oder Chats. Aber auch das st&auml;ndige Einwerfen des Links zur eigenen Homepage geht ziemlich schnell auf die Nerven!
        </li>
        <li> 
          Werbe niemals Chatter f&uuml;r einen anderen Chat ab! Wenn Dir der Chat nicht gef&auml;llt, brauchst du das nicht st&auml;ndig verk&uuml;nden. Wenn Dir ein anderer Chat besser gef&auml;llt, dann geh in den anderen Chat.
        </li>

        <li> 
          Solltest du nur einen "leichten" Versto&szlig; gegen die Chatiquette begehen, wird man dich verwarnen. Diese Verwarnung solltest du ernst nehmen - eine weitere wird es n&auml;mlich zumeist nicht geben.
        </li>
        <li>
          Bei schwereren oder wiederholten Verst&ouml;&szlig;en gegen die Chatiquette wirst du von einem Administrator gekickt (aus dem Chat geworfen). Danach kannst du den Chat zwar gleich wieder betreten, dies bedeutet aber nicht, dass du weitermachen kannst, wie vor dem Kick. Ein Kick ist die letzte Warnung vor einem Ban und wird nicht ohne Grund ausgef&uuml;hrt.
        </li>
        <li> 
          Bei schweren Verst&ouml;&szlig;en gegen die Chatiquette kannst du dauerhaft aus dem Chat verwiesen werden. Hierzu wird dann deine IP gesperrt.
         </li>
      </ol>
    <div style="font-weight: bold;">
      Euer CoolChat-Team
    </div>