<!-- design=console -->
<h1>%SERVER_SOFTWARE%-Raumkonfiguration</h1>
Den Raum <span style="font-weight: bold">%room%</span> erstellen!
<form action="%PATH_[config_rooms]%&update=true&room=%room%&change=set_room" method="POST" accept-charset="utf-8">
  <p>
    <table>
	  <tr>
        <td>
	      <span style="font-weight: bold">Das Raumthema: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="topic" value="%topic%">
        </td>
      </tr>
	  <tr>
        <td>
	      <span style="font-weight: bold">Ist der Raum gesperrt: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="lock" value="%lock%">
        </td>
      </tr>
	  <tr>
        <td>
	      <span style="font-weight: bold">Der Sperrgrund: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="lock_reason" value="%lock_reason%">
        </td>
      </tr>	  
      <tr>
        <td>
	      <span style="font-weight: bold">Ist ein Standardraum: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="standard" value="%standard%">
        </td>
      </tr>
	  <tr>
        <td>
	      <span style="font-weight: bold">Erlaube Smilies: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="allow_smilies" value="%allow_smilies%">
        </td>
      </tr>
    </table>
  </p>
  <p>
  <input type="submit" class="input-group-append btn btn-secondary btn-sm" name="OK" value="&Auml;nderung abschicken!!">
  </p>
</form>
