<!-- design=console -->
<h1>%SERVER_SOFTWARE% Room configuration</h1>
<p>
<a href="%PATH_[config_rooms]%&update=true&room=%room%&change=delete">Here</a> You can remove the room!
</p>
<form action="%PATH_[config_rooms]%&update=true&room=%room%&change=modify" method="POST" accept-charset="utf-8">
  <p>
    <table>
	  <tr>
        <td>
	      <span style="font-weight: bold">The spatial theme: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="topic" value="%topic%">
        </td>
      </tr>
	  <tr>
        <td>
	      <span style="font-weight: bold">If the room is closed: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="lock" value="%lock%">
        </td>
      </tr>
	  <tr>
        <td>
	      <span style="font-weight: bold">The blocking reason: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="lock_reason" value="%lock_reason%">
        </td>
      </tr>	  
      <tr>
        <td>
	      <span style="font-weight: bold">Is a standard room: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="standard" value="%standard%">
        </td>
      </tr>
	  <tr>
        <td>
	      <span style="font-weight: bold">Allow smilies: </span>
		</td>
		<td>
	      <input type="text" size="50" maxlength="255" class="form-control form-control-sm"  name="allow_smilies" value="%allow_smilies%">
        </td>
      </tr>
    </table>
  </p>
  <p>
  <input type="submit" class="btn btn-secondary btn-sm" name="OK" value="Send a change!!">
  </p>
</form>
