<p>
Dein Nickname bzw. Deine IP-Addresse wurde von einem unserer Administratoren permanent gesperrt!
</p>
<p>
Als Grund wurde folgendes Ihnen mitgeteilt: <span style="font-weight: bold">%reason%</span> 
</p>
<p>
<table>
<tr>
<td style="text-align: left; font-weight: bold;">
Dies kann mehrere Ursachen haben:
</td>
</tr>
<tr>
<td style="text-align: left;">
&middot; Du hast das Chatklima extrem gest&ouml;rt!<br>
&middot; Du hast gegen geltendes Recht und/oder den guten Sitten versto&szlig;en!<br>
&middot; Du hast unerw&uuml;nschte Werbung betrieben!<br>
&middot; Du hast den Server mehrfach wiederholt ungew&ouml;hnlich extrem gefloodet!<br>
&middot; Du bist ein Opfer von Standardsperrungen geworden (In dem Falle hilft schon ein anderer Nickname)
</td>
</tr>
</table>
</p>
<p>
Bitte versuchen Sie es sp&auml;ter nochmal!
</p>