<!-- design=frameset_community_reg -->
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="alert alert-success" role="status">
        <h4 class="alert-heading"><i class="fa fa-check-circle"></i> Forum angelegt</h4>
        <p>Das Forum wurde erfolgreich eingetragen.</p>
        <hr>
        <a href="%PATH_[board]%" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Zur Startseite</a>
      </div>
    </div>
  </div>
</div>
