<!-- design=account -->
<h1>
%SERVER_SOFTWARE%-Chatnapping!!
</h1>
  <p>
    Du hast deine Raumdaten f&uuml;r den Raum <span style="font-weight: bold">%room2%</span> ge&auml;ndert und kannst den Raum mit folgedem Code zu Deiner Homepage hinzuf&uuml;gen:
  </p>
    <textarea readonly class="prism-live line-numbers language-html fill">
<form method="POST" name="login" action="https://%host%%PATH_[login_chat]%" target="_blank" accept-charset="utf-8">
  <input
 maxlength="20" name="nick"  placeholder="Nickname"><br>
  <input maxlength="20" name="pwd"
 type="password"  placeholder="Passwort"><br>
  <input name="room" value="%room2%" type="hidden">
  <input name="owner" value="%nick%" type="hidden">
  <input name="skin" value="%skin%" type="hidden">
  <input value="Login" type="submit">
</form>  
<p>  
<a href="https://%host%%PATH_[login_chat]%&skin=%skin%&room=%room2%&owner=%nick%">Gastzugang</a><br>
<a href="https://%host%%PATH_[register]%&owner=%nick%">Registrieren</a><br>
<a href="https://%host%%PATH_[password]%&owner=%nick%">Passwort Vergessen?</a>
</p>
<p class="users">
<script type="text/javascript" src="https://%host%%PATH_[script_room_napping]%"></script>
</p>
  </textarea>
</form>
