<!-- design=frameset_community_reg -->
<h1>
%SERVER_SOFTWARE% &ndash; Chatnapping
</h1>
<p>
  Du hast den Raum <strong>%room2%</strong> hinzugef&uuml;gt und kannst den Raum mit folgendem Code zu Deiner Homepage hinzuf&uuml;gen:
</p>
<textarea readonly class="prism-live line-numbers language-html fill"><form method="POST" name="login" action="https://%host%%PATH_[login_chat]%" target="_blank" accept-charset="utf-8">
  <input maxlength="20" name="nick" placeholder="Nickname"><br>
  <input maxlength="20" name="pwd" type="password" placeholder="Passwort"><br>
  <input name="room" value="%room2%" type="hidden">
  <input name="owner" value="%nick%" type="hidden">
  <input name="skin" value="%skin%" type="hidden">
  <input value="Login" type="submit">
</form>
<p>
  <a href="https://%host%%PATH_[login_chat]%&skin=%skin%&room=%room2%&owner=%nick%">Guest access</a><br>
  <a href="https://%host%%PATH_[register]%&owner=%nick%">Register</a><br>
  <a href="https://%host%%PATH_[password]%&owner=%nick%">Forgot password?</a>
</p>
<p class="users">
<script type="text/javascript" src="https://%host%%PATH_[script_room_napping]%"></script>
</p>
</textarea>
