<!-- design=frameset_community_reg -->
<h1>
%SERVER_SOFTWARE%-Standarddaten!!
</h1>
<form action="%PATH_[account_com]%" method="POST" accept-charset="utf-8">%account_error_if_one%
  <input type="hidden" name="service" value="data">
  <input type="hidden" name="data" value="change">
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    Notwendige Angaben
  </p>
  <p>
    <table>
	  <tr>
        <td>
	      <span style="font-weight: bold">Dein Geschlecht: </span>
		</td>
		<td>
            <select class="form-control form-control-sm col-md-3 mb-2" name="gender" size="1">
            <option value="-"%selected_no%>Nicht angegeben</option>
            <option value="m"%selected_male%>Mann</option>
            <option value="f"%selected_female%>Frau</option>
          </select>
        </td>
      </tr>
	  <tr>
        <td>
	      <span style="font-weight: bold">Deine E-Mail-Adresse: </span>
		</td>
		<td>
	      <input type="email" size="50" maxlength="255" class="form-control form-control-sm"  name="mail" value="%mail%">
        </td>
      </tr>
	  <tr>
        <td>
	      <span style="font-weight: bold">Dein Geburtsdatum: </span>
		</td>
		<td>
		  <div class="input-group">
	      <input type="text" size="2" maxlength="2" class="form-control form-control-sm col-md-2 mb-1" name="day" value="%day%">.<input type="text" size="2" maxlength="2" class="form-control form-control-sm col-md-2 mb-1" name="month" value="%month%">.<input type="text" size="4" maxlength="4" class="form-control form-control-sm col-md-2 mb-1" name="year" value="%year%">
          </div>
		</td>
      </tr>
    </table>
  </p>
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    Und schon Fertig...
  </p>
  <p>
  <input type="submit" class="input-group-append btn btn-secondary btn-sm" name="OK" value="&Auml;nderung abschicken!!">
  </p>
</form>