<!-- design=frameset_community_reg -->
<h1>
%SERVER_SOFTWARE% &ndash; Account l&ouml;schen
</h1>

<form action="%PATH_[account_com]%" method="POST" accept-charset="utf-8">%account_error_if_one%
  <input type="hidden" name="service" value="delete">
  <input type="hidden" name="data" value="delete">
  <p class="form-section-title">
    Notwendige Angaben
  </p>
  <p>
  Dein Passwort:<br />
  <span class="form-hint">Sollte mindestens vier Zeichen lang sein!</span>
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm mb-2" name="pwd" value="">
  Dein Passwort wiederholen:<br />
  <span class="form-hint">Um sicherzustellen, dass Du Dich nicht verschrieben hast!</span>
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm mb-2" name="pwd2" value="">
  </p>
  <p class="form-section-title">
    Und schon fertig&hellip;
  </p>
  <p>
  <input type="submit" class="btn btn-secondary btn-sm" name="OK" value="&Auml;nderung abschicken">
  </p>
</form>
