<!-- design=napping_account -->

<h1>%SERVER_SOFTWARE%-Passwort!!</h1>


<form action="%PATH_[account]%" method="POST" accept-charset="utf-8">%account_error_if_one%
  <input type="hidden" name="service" value="password">
  <input type="hidden" name="data" value="change">
  <input type="hidden" name="owner" value="%owner%">
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    Notwendige Angaben
  </p>
  <p>
  Dein altes Passwort:<br />
  <span style="font-size: 9px;">Sollte mindestens vier Zeichen lang sein!</span><br />
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm col-md-5 mb-2" name="old_pwd" value="">
  Dein neues Passwort:<br />
  <span style="font-size: 9px;">Sollte mindestens vier Zeichen lang sein!</span><br />
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm col-md-5 mb-2" name="new_pwd" value="">
  Neues Passwort wiederholen:<br />
  <span style="font-size: 9px;">Um sicherzustellen das Du Dich nicht verschrieben hast!</span><br />
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm col-md-5 mb-2" name="new_pwd2" value="">
  </p>
  <p style="font-weight: bold; font-style: italic; font-size: 18px; background-color: #cccccc">
    Und schon Fertig...
  </p>
  <p>
  <input type="submit" class="input-group-append btn btn-secondary btn-sm" name="OK" value="&Auml;nderung abschicken!!">
  </p>
</form>
