<!-- design=account -->
<h1>%SERVER_SOFTWARE%-Account!</h1>

  <p style="font-weight: bold; font-style: italic; font-size: 12px; background-color: #cccccc">
    Profil&auml;nderung von %nick% erfolgreich!!
  </p>
  <p>
    <table>
	<tr>
	<td>
    <span style="font-weight: bold">Homepage: </span></td>
    <td>%homepage%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Wohnort: </span></td>
    <td>%city%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Hobby: </span></td>
    <td>%hobby%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Beschreibung: </span></td>
    <td>%description%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Motto: </span></td>
    <td>%slogan%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Signatur: </span></td>
    <td>%signature%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">ICQ-UIN: </span></td>
    <td>%icq%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Skype: </span></td>
    <td>%live%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Yahoo: </span></td>
    <td>%yahoo%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Facebook: </span></td>
    <td>%facebook%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Twitter: </span></td>
    <td>%twitter%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">IRC: </span></td>
    <td>%irc%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Youtube: </span></td>
    <td>%youtube%</td>
    </tr>
    <tr>
    <td><span style="font-weight: bold">Familienstatus: </span></td>
    <td>%fam_status%</td>
    </tr>
    <table>
  </p>
  <p style="font-weight: bold; font-style: italic; font-size: 12px; background-color: #cccccc">
    &nbsp;
  </p>
