<!-- design=napping_account -->
<h1>
%SERVER_SOFTWARE% &ndash; Chatnapping
</h1>  
<p style="font-weight: bold; color: #ff0000">
Der Raum ist schon vergeben!
</p>
<form action="%PATH_[account]%" method="POST" accept-charset="utf-8">
  <input type="hidden" name="service" value="napping">
  <input type="hidden" name="data" value="change">
  <input type="hidden" name="owner" value="%owner%">
  <p class="form-section-title">
    Notwendige Angaben
  </p>
<p style="font-weight: bold;">
    Raumname: <input type="text" size="50" maxlength="255" class="form-control form-control-sm mb-2"  name="room2" value="%room2%" placeholder="Raumname">
    Dein Chattitel: <input type="text" size="50" maxlength="255" class="form-control form-control-sm mb-2"  name="title" value="%title%" placeholder="Dein Chattitel">
    Hintergrundfarbe 1: <input type="text" size="50" maxlength="6" class="form-control form-control-sm mb-2"  name="bg_color_1" value="%bg_color_1%" placeholder="Hintergrundfarbe: RRGGBB">
    Hintergrundfarbe 2: <input type="text" size="50" maxlength="6" class="form-control form-control-sm mb-2"  name="bg_color_2" value="%bg_color_2%" placeholder="Hintergrundfarbe Men&uuml;: RRGGBB">
    Farbe des Textes: <input type="text" size="50" maxlength="6" class="form-control form-control-sm mb-2"  name="color" value="%color%" placeholder="Farbe des Textes: RRGGBB">
    Farbe der Links: <input type="text" size="50" maxlength="6" class="form-control form-control-sm mb-2"  name="link_color" value="%link_color%" placeholder="Farbe der Links im Men&uuml;: RRGGBB">
    Rahmenfarbe:<input type="text" size="50" maxlength="6" class="form-control form-control-sm mb-2"  name="border_color" value="%border_color%" placeholder="Rahmenfarbe: RRGGBB">
  </p>
  <p class="form-section-title">
    Und schon fertig&hellip;
  </p>
  <p>
  <input type="submit" class="btn btn-secondary btn-sm" name="OK" value="&Auml;nderung abschicken">
  </p>
</form>