<!-- design=frameset_community_reg -->
<h1>%SERVER_SOFTWARE%-Forum!</h1>
<p style="text-align:center">
%prev% %pages% %next%
</p>
<p>
<form method="POST" name="login" action="%PATH_[board]%" target="_top" accept-charset="utf-8">
  <input class="form-control form-control-sm" name="search"  placeholder="Suchbegriff">
  <input name="skin" value="%skin%" type="hidden">
  <input class="input-group-append btn btn-secondary btn-sm" value="Suchen" type="submit">
</form>
</p>
<p>
%boards%
</p>
<p>
<form method="POST" name="tread" action="%PATH_[board]%&id=%id%&answer=true&pid=%pid%" target="_top" accept-charset="utf-8"> 
  <input class="form-control form-control-sm" name="topic" value="%re%%topic%">
  <textarea class="form-control form-control-sm" name="thread"></textarea>
  <input class="input-group-append btn btn-secondary btn-sm" value="Eintrag Hinzuf&uuml;gen!" type="submit">
</form>
</p>
<p style="text-align:center">
%prev% %pages% %next%
</p>