<!-- design=frameset_community_reg -->
<h1>%SERVER_SOFTWARE%-Forum!</h1>
<h2>Forum bearbeiten!</h2>
<form method="POST" name="tread" action="%PATH_[board]%&id=%id%&pid=%cat%&edit_boards=true&edited=true" target="_top" accept-charset="utf-8"> 
  <input class="form-control form-control-sm" name="topic" value="%topic%">
  <textarea class="form-control form-control-sm" name="description">%description%</textarea>
  <input class="input-group-append btn btn-secondary btn-sm" value="Forum bearbeiten!" type="submit">
</form>
