<!-- design=frameset -->
<script type="text/javascript">
<!--
  $(document).ready(function() {
    $('#colorpicker').farbtastic('#msg');
  });
-->
</script>
  <div id="logo"></div>
<nav>
		<menu>
		    <menuitem id="commands">
				<a>Befehle</a>
				<menu>
				  <menuitem><a href="#" onclick="submitMessage('/wc');">Wer ist Wo</a></menuitem>
		          <menuitem><a href="#" onclick="submitMessage('/w');">Wer ist Hier</a></menuitem>
		          <menuitem><a href="#" onclick="submitMessage('/myip');">Eigener Host</a></menuitem>
				  <menuitem><a href="#" onclick="submitMessage('/info');">Chatinfo</a></menuitem>
		          <menuitem><a href="#" onclick="submitMessage('/c');">Chatfenster leeren</a></menuitem>
		          <menuitem><a href="#" onclick="submitMessage('/q Ausgeloggt per Mausklick!');">Ausloggen</a></menuitem>
				</menu>				  
			</menuitem>	
		    <menuitem id="help">
				<a>Hilfen</a>
				<menu>
		          <menuitem><a href="javascript:open_window('%PATH_[help]%','help');">Liste aller Befehle</a></menuitem>
		          <menuitem><a href="javascript:open_window('%PATH_[emot]%','help');">Emoticons</a></menuitem>
				</menu>				  
			</menuitem>			    
			<menuitem id="color">
				<a>Farbe</a>
				<menu>
				  <menuitem class="navbar"><div id="colorpicker"></div>
  <div class="input-group">
<input type="text" class="color_field form-control form-control-sm" id="msg" value="#123456" onkeydown="return submitChatInputCol(event);"></input>
<input type="button" value="OK" class="input-group-append btn btn-secondary btn-sm" onclick="sendTextCol();"></input>
  </div>
  </menuitem>
				</menu>				  
			</menuitem>					
		</menu>
	</nav>
<script>
function submitMessage(text)
{
    text = escapeHtml(text);
    var msg = {
       category: "chat",
       message: text,
       target: ""
    };
    socket.send(JSON.stringify(msg));
}
</script>


  <div class="chat_frame" id="chat_window">
    <script type="text/javascript" src="%PATH_[script_nav]%"></script>
  </div>
  <div class="right_frame" id="right">
  <script type="text/javascript" src="%PATH_[script_userlist]%"></script>
  </div>
  <div class="post_frame post_field input-group">
      <input type="text" class="form-control form-control-sm" autocomplete="off" id="message" maxlength="1024" value="" onkeydown="return submitChatInput(event);"></input>
      <input type="button" value="Senden" class="input-group-append btn btn-secondary btn-sm" onclick="sendText();"></input>
      <script type="text/javascript">
    App = {};
    let textarea = document.getElementById("message");
    if (!(App.emojiSelector instanceof Emojilist)) {
        App.emojiSelector = new Emojilist();
    }
    App.emojiSelector.attach({
        node: textarea,
        insert: function(emoji, event) {
            let startBefore = textarea.selectionStart,
            before = textarea.value.substr(0, startBefore),
            after = textarea.value.substr(textarea.selectionEnd);
            textarea.value = before + emoji + after;
            textarea.setSelectionRange(before.length+emoji.length, before.length+emoji.length);
            textarea.focus();
            /*event.preventDefault();
            event.stopPropagation();*/
        },
        categoryclick: function(event) {
            textarea.focus();
            /*event.preventDefault();
            event.stopPropagation();*/
        },
        offset: '15%',
        prepend: true,
        template: '<div class="popover" style="width: 50vw!important; max-width: 50vw!important; min-width: 50vw; height: 50vh!important; max-height: 50vh!important; min-height: 50vh!important;" role="tooltip"><div class="arrow"></div><div class="popover-body" style="position: relative; width: 100%!important; max-width: 100%!important; min-width: 100%; height: 100%!important; max-height: 100%!important; min-height: 100%!important; overflow-y: scroll;"></div></div>',
        pageTitle: function(title) {
            return {
                'Recent':'😁',
                'Smileys & People':'😀',
                'Animals & Nature':'🐱',
                'Food & Drink':'🍟',
                'Travel & Places':'🚄',
                'Activities':'⚽',
                'Objects':'💿',
                'Symbols':'❓',
                'Flags':'🏁'
            }[title];
        },
        container: 'body'
    });
    </script>
  </div>
  <script type="text/javascript" src="%PATH_[script_chat]%"></script>
  <script type="text/javascript" src="%PATH_[script_post]%"></script>
  <script type="text/javascript" src="%PATH_[script_color]%"></script>
    
<script type="text/javascript">
<!--
  setTimeout(function () {
    $.ajax({
        type: 'GET',
        url: '%PATH_[webchat_json]%',
        dataType: 'json',
        success: function (data) {
         for (var i=0;i<data.length;++i)
         {
            if(data[i].name == "%nick%") {
                $.farbtastic('#colorpicker').setColor("#"+data[i].color);
            }
         }
        }
    });
  },5000);
-->
</script>