<!-- design=start -->
<h1>
%SERVER_SOFTWARE% &ndash; Passwort zur&uuml;cksetzen
</h1>
<form action="%PATH_[password]%" method="POST">%reg_error_if_one%
  <input type="hidden" name="service" value="pass_accept">
  <input type="hidden" name="reg_nick" value="%reg_nick%">
  <input type="hidden" name="reg_mail" value="%reg_mail%">
  <input type="hidden" name="reg_pwd" value="%reg_pwd%">
  <input type="hidden" name="reg_reminder_question" value="%reg_reminder_question%">
  <input type="hidden" name="reg_reminder_answer" value="%reg_reminder_answer%">
  <input type="hidden" name="reg_captcha" value="%reg_captcha%">
  <input type="hidden" name="reg_cid" value="%reg_cid%">
  <input type="hidden" name="reg_day" value="%reg_day%">
  <input type="hidden" name="reg_month" value="%reg_month%">
  <input type="hidden" name="reg_year" value="%reg_year%">
  <p class="form-section-title">
    Notwendige Angaben
  </p>
  <p>
  Deine Sicherheitsfrage f&uuml;r <strong>%reg_nick%</strong>:<br />
  <span style="font-weight: bold;">%reg_reminder_question%</span><br /><br />
  Deine Antwort:<br />
  <input type="text" size="50" maxlength="255" class="form-control form-control-sm mb-2" name="reg_reminder_answer" value="%reg_reminder_answer%"><br />
  Dein Passwort:<br />
  <span class="form-hint">Sollte mindestens vier Zeichen lang sein!</span>
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm mb-2" name="reg_pwd" value="%reg_pwd%"><br />
  Passwortwiederholung:<br />
  <span class="form-hint">Um sicherzustellen, dass Du Dich nicht verschrieben hast!</span>
  <input type="password" size="10" maxlength="30" class="form-control form-control-sm mb-2" name="reg_pwd2" value="">
  </p>
  <p class="form-section-title">
    Und schon fertig&hellip;
  </p>
  <p>
  <input type="submit" class="btn btn-secondary btn-sm" name="OK" value="Anfrage senden">
  </p>
</form>
