<!-- design=start -->
<h1>
%SERVER_SOFTWARE%-Registrierung!
</h1>
<form action="%PATH_[password]%" method="POST">%reg_error_if_one%
  <input type="hidden" name="service" value="pass_accept">
  <input type="hidden" name="reg_nick" value="%reg_nick%">
  <input type="hidden" name="reg_mail" value="%reg_mail%">
  <input type="hidden" name="reg_pwd" value="%reg_pwd%">
  <input type="hidden" name="reg_reminder_question" value="%reg_reminder_question%">
  <input type="hidden" name="reg_reminder_answer" value="%reg_reminder_answer%">
  <input type="hidden" name="reg_captcha" value="%reg_captcha%">
  <input type="hidden" name="reg_cid" value="%reg_cid%">
  <input type="hidden" name="reg_day" value="%reg_day%">
  <input type="hidden" name="reg_month" value="%reg_month%">
  <input type="hidden" name="reg_year" value="%reg_year%">
  <p style="font-weight: bold; font-style: italic; font-size: 12px; background-color: #cccccc">
    Notwendige Angaben
  </p>
  <p>
  Deine Sicherheitsfrage f&uuml;r %reg_nick%: <span style="font-weight: bold;">%reg_reminder_question%</span><br />
  Deine Antwort:<br />
    <input type="text" size="50" maxlength="255" class="reg" name="reg_reminder_answer" value="%reg_reminder_answer%"></br>  Dein Passwort:<br />
  <span style="font-size: 9px;">Sollte mindestens vier Zeichen lang sein!</span><br />
  <input type="password" size="10" maxlength="30" class="reg" name="reg_pwd" value="%reg_pwd%"><br />
  Passwortwiederholung:<br />
  <span style="font-size: 9px;">Um sicherzustellen das Du Dich nicht verschrieben hast!</span><br />
  <input type="password" size="10" maxlength="30" class="reg" name="reg_pwd2" value=""></br>
  </p>
  <p style="font-weight: bold; font-style: italic; font-size: 12px; background-color: #cccccc">
    Und schon Fertig...
  </p>
  <p>
  <input type="submit" class="reg" name="OK" value="Anfrage senden...">
  </p>
</form>