<!-- design=profile -->
<h1>Profil von <span style="color: #%color%;">%user%</span></h1>

<img src="%path_hwebchat%?page=image&nick=%user%" style="float: right; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #666666; border-top: 1px solid #666666; top: -4px; right: -4px; z-index: 4; position: relative; width: 200px;"></img>
<p>%user% ist <span style="font-weight: bold">%sex%</span>, ist wohnhaft in <span style="font-weight: bold">%city%</span> und hat am <span style="font-weight: bold">%bday_day%.%bday_month%.%bday_year%</span> Geburtstag.</p>
<p>%user%'s letzter Login war am <span style="font-weight: bold">%timestamp_login%</span> und hat sich am <span style="font-weight: bold">%timestamp_reg%</span> registriert.</p>
<p>%user% hat momentan <span style="font-weight: bold">%points% Punkte</span> gesammelt und verwendet die Farbe <span style="color: #%color%; font-weight: bold;">#%color%</span>.</p>
%PROFILE_[homepage]%
%PROFILE_[hobby]%
%PROFILE_[status]%
%PROFILE_[description]%
%PROFILE_[slogan]%
%PROFILE_[signature]%
%PROFILE_[icq]%
%PROFILE_[skype]%
%PROFILE_[yahoo]%
%PROFILE_[facebook]%
%PROFILE_[twitter]%
%PROFILE_[irc]%
%PROFILE_[youtube]%
%PROFILE_[last_visitor]%
%PROFILE_[fam_status]%
