<!-- design=napping -->
<h1>
%SERVER_SOFTWARE%-Note
</h1>
<p>
Your nickname or Your IP address has been temporarily banned by one of our administrators!
</p>
<p>
The reason given to you is as follows: <span style="font-weight: bold">%reason%</span> 
</p>
<p>
<table>
<tr>
<td style="text-align: left; font-weight: bold;">
The following reasons can cause a ban...
</td>
</tr>
<tr>
<td style="text-align: left;">
· You have disturbed the chat climate extremely!<br>
· You have violated applicable law and/or morality!<br>
· You have done unwanted advertising!<br>
· You have not followed the instructions of the administrators and/or staff members despite multiple admonitions!<br>
· You have built too many simultaneous connections to the chat (clones)!<br>
</td>
</tr>
</table>
</p>
