<!-- design=info -->
<h1>Chatbefehle</h1>
<table>
<tr><td style="font-weight: bold;">Befehl</td><td style="font-weight: bold">Status</td><td style="font-weight: bold">Beschreibung</td></tr>
<tr><td>/ &lt;text&gt;</td><td>&nbsp;</td><td>Damit fl&uuml;sterst Du den Text &lt;text&gt; an den zuletzt Gefl&uuml;sterten Chatter!</td></tr>
<tr><td>/&lt;nick&gt; &lt;text&gt;</td><td>&nbsp;</td><td>Damit fl&uuml;sterst Du den Text &lt;text&gt; mit dem Chatter &lt;nick&gt;</td></tr>
%HELP_[accept_invite]%
%HELP_[add_friend]%
%HELP_[superuser_room_set]%
%HELP_[away]%
%HELP_[ban]%
%HELP_[ban_timed]%
%HELP_[beam]%
%HELP_[clear]%
%HELP_[catch]%
%HELP_[change_rights]%
%HELP_[color]%
%HELP_[delete_picture]%
%HELP_[dice]%
%HELP_[superuser_room_remove]%
%HELP_[gag]%
%HELP_[moderator_set]%
%HELP_[fcol]%
%HELP_[hardkick]%
%HELP_[invite]%
%HELP_[ignore]%
%HELP_[info]%
%HELP_[change_room]%
%HELP_[kick]%
%HELP_[lock]%
%HELP_[list]%
%HELP_[mail]%
%HELP_[me]%
%HELP_[moderator]%
%HELP_[moderate_room]%
%HELP_[nick]%
%HELP_[ip]%
%HELP_[query]%
%HELP_[quit]%
%HELP_[del_friend]%
%HELP_[moderator_remove]%
%HELP_[rehash]%
%HELP_[superuser_remove]%
%HELP_[shout]%
%HELP_[list_friends]%
%HELP_[show_bans]%
%HELP_[sepa]%
%HELP_[shutdown]%
%HELP_[superuser_set]%
%HELP_[supervisor]%
%HELP_[system]%
%HELP_[topic_private]%
%HELP_[unban]%
%HELP_[who_room]%
%HELP_[whois]%
%HELP_[who]%
%HELP_[wipe]%
<tr><td style="font-weight: bold;">Funbefehle:</td><td style="font-weight: bold">&nbsp;</td><td style="font-weight: bold">&nbsp;</td></tr>
%HELP_[fun]%
</table>


