<!-- design=frameset_community -->
<div class="toplist">
  <div class="toplist-header">
    <h1>Topliste</h1>
    <p class="toplist-meta">
      Es sind in diesem Chat <strong>%reg_count%</strong> Chatter registriert.
    </p>
  </div>
  <div class="toplist-table-wrap">
    <table class="toplist-table">
      <thead>
        <tr>
          <th class="col-rank">Rang</th>
          <th class="col-nick">Nick</th>
          <th class="col-points">Punkte</th>
          <th class="col-reg">Registriert seit</th>
          <th class="col-login">Letzter Login</th>
          <th class="col-online">Status</th>
        </tr>
      </thead>
      <tbody>
%toplist%
      </tbody>
    </table>
  </div>
</div>
