<!DOCTYPE html>
<html lang="de">
<head>
  <title>Herzlich Willkommen %nick% im %SERVER_SOFTWARE%</title>
  <meta content="%SERVER_VENDOR%" name="author">
  <meta content="&copy;%SERVER_YEAR% by %SERVER_VENDOR%" name="description">
  <meta content="CoolChat" name="software">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="%path_file%bootstrap/css/bootstrap.min.css" type="text/css">  
  <link rel="stylesheet" media="screen" href="%PATH_[style]%" type="text/css">  	
  <link rel="stylesheet" href="https://prismjs.com/themes/prism.css">
  <link rel="stylesheet" href="https://prismjs.com/plugins/line-numbers/prism-line-numbers.css">
  <link rel="stylesheet" media="screen" href="%path_file%prism-live.css" type="text/css">   
  <script type="text/javascript" src="%PATH_[script_jquery]%"></script>
  <script type="text/javascript" src="%path_file%popper/js/popper.min.js"></script>
  <script type="text/javascript" src="%path_file%bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="%PATH_[script_post]%"></script>
  <script src="https://blissfuljs.com/bliss.shy.min.js"></script>
  <script src="https://prismjs.com/prism.js"></script>
  <script src="https://prismjs.com/plugins/line-numbers/prism-line-numbers.js"></script>
  <script src="%path_file%prism-live.js?load=css,html,javascript"></script>
</head>
<body>
<div id="logo"></div>
<nav>
		<menu>
		    <menuitem id="Start">
				<a>Start</a>
				<menu>
				  <menuitem><a href="%PATH_[index_com]%">Startseite</a></menuitem>		          
		          <menuitem><a href="%PATH_[board]%">Forum</a></menuitem>		          
		          <menuitem><a href="%PATH_[rules_com_reg]%">Chattiquette</a></menuitem>
		          <menuitem><a href="%PATH_[logout]%">Ausloggen</a></menuitem>
				</menu>				  
			</menuitem>
		    <menuitem id="Chatten">
				<a>Chatten</a>
				<menu>
				<menuitem style="background:#666666;">
<form method="POST" name="login" action="%PATH_[login_chat]%" target="chat" accept-charset="utf-8"> 
  <input name="sid" value="%sid%" type="hidden">
  <select class="form-control form-control-sm" name="room"  placeholder="Raumauswahl">
    <option selected value="Lounge">Lounge</option>
    <option value="Staff-Lounge">Staff-Lounge</option>
    <option value="Development">Development</option>
    <option value="Exil">Exil</option>
  </select>
  <input name="skin" value="%skin%" type="hidden">
  <input class="input-group-append btn btn-secondary btn-sm" value="Chat starten!" type="submit">
</form>
                </menu>
				</menuitem>	
		    <menuitem id="Benutzer">
				<a>Benutzer</a>
				<menu>
				  <menuitem><a href="%PATH_[account_com]%">Dein Account</a></menuitem>		          
				</menu>				  
			</menuitem>				
		</menu>
	</nav>
<div id="pagecontent">
%content%
</div>
<div id="pagecontent" style="text-align: center">
<small>
<p>
&copy;%SERVER_YEAR% by <a href="mailto:%SERVER_MAIL%">%SERVER_VENDOR%</a>
<br>
  <a href="%PATH_[dataprotection]%" target="_blank">Datenschutz</a> | <a href="%PATH_[impressum]%" target="_blank">Impressum</a>        		
</p>
</small>
</div>
</body>
</html>
