<!DOCTYPE html>
<html>
<head>
<title>Herzlich Willkommen %nick% im  %SERVER_SOFTWARE% %SERVER_VERSION%-%SERVER_STATUS%</title>
<meta content="%SERVER_VENDOR%" name="author">
<meta content="&copy;%SERVER_YEAR% by %SERVER_VENDOR%" name="description">
<meta content="%SERVER_SOFTWARE% %SERVER_VERSION%-%SERVER_STATUS%" name="software">
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="preload" href="file/fonts/TwitterColorEmoji-SVGinOT.ttf" as="font">
<link rel="preload" href="file/fonts/NotoColorEmoji.ttf" as="font">
<link rel="stylesheet" href="%path_file%bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" media="screen" href="%PATH_[style_napping_privchat]%" type="text/css">
<link rel="stylesheet" href="%PATH_[style_iframe]%" type="text/css">
<link rel="stylesheet" href="%PATH_[style_chat_privchat_napping]%" type="text/css">
<link rel="stylesheet" href="%PATH_[style_colorpicker]%" type="text/css">
<link rel="stylesheet" href="%PATH_[style_nav]%" type="text/css">
<script type="text/javascript" src="%PATH_[script_jquery]%"></script>
<script type="text/javascript" src="%path_file%popper/js/popper.min.js"></script>
<script type="text/javascript" src="%path_file%bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="%PATH_[script_emoji]%"></script>
<script type="text/javascript" src="%PATH_[script_colorpicker]%"></script>
<script type="text/javascript" src="%PATH_[script_window]%"></script>
</head>
<body>
%content%
</body>
</html>
