<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Weiterleitung...</title>
  <meta content="%SERVER_VENDOR%" name="author">
  <meta content="&copy;%SERVER_YEAR% by %SERVER_VENDOR%" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="%path_file%bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="%PATH_[style]%" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="%PATH_[script_link]%"></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="%PATH_[index]%">
      <img src="file/gfx/logo.svg" alt="HWebChat" style="height: 40px;">
    </a>
  </div>
</nav>
<div id="profilecontent" class="container-fluid bg-white shadow rounded p-3">
%content%
</div>
</body>
</html>