<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>%com[design_title_napping]%</title>
  <meta content="%SERVER_VENDOR%" name="author">
  <meta content="&copy;%SERVER_YEAR% by %SERVER_VENDOR%" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="file/fonts/TwitterColorEmoji-SVGinOT.ttf" as="font">
  <link rel="preload" href="file/fonts/NotoColorEmoji.ttf" as="font">
  <link rel="stylesheet" href="%path_file%bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" media="screen" href="%PATH_[style_napping]%" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="%PATH_[script_jquery]%"></script>
  <script src="%path_file%popper/js/popper.min.js"></script>
  <script src="%path_file%bootstrap/js/bootstrap.min.js"></script>
  <script src="%PATH_[script_framekiller]%"></script>
</head>
<body style="background-color: #%bg_color_1%;">
<nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: #%bg_color_2%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="%PATH_[index_com]%">
      <img src="file/gfx/logo.svg" alt="HWebChat" style="height: 40px;">
    </a>
  </div>
</nav>
<div id="pagecontent" class="container-fluid bg-white shadow rounded p-3" style="background-color: #ffffff;">
%content%
</div>
</body>
</html>