<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>%com[design_title_profile]%</title>
  <meta content="%SERVER_VENDOR%" name="author">
  <meta content="&copy;%SERVER_YEAR% by %SERVER_VENDOR%" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="%path_file%bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="%PATH_[style]%" type="text/css">
  <script type="text/javascript" src="%PATH_[script_post]%"></script>
<style>
body.embedded nav.navbar { display: none !important; }
body.embedded { padding-top: 0 !important; }
</style>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="file/gfx/logo.svg" alt="HWebChat" style="height: 40px;">
    </a>
  </div>
</nav>
<div id="profilecontent" class="container-fluid bg-white shadow rounded p-3">
%content%
</div>
<script>
if (window.self !== window.top) {
  document.body.classList.add('embedded');
}
</script>
</body>
</html>