<!-- design=napping -->
<h1>
%SERVER_SOFTWARE%-Hinweis
</h1>
<p>
Dein Nickname bzw. Deine IP-Addresse wurde von einem unserer Administratoren vorr&uuml;bergehend gebannt!
</p>
<p>
Als Grund wurde folgendes Ihnen mitgeteilt: <span style="font-weight: bold">%reason%</span> 
</p>
<p>
<table>
<tr>
<td style="text-align: left; font-weight: bold;">
Folgende Gr&uuml;nde k&ouml;nnen einen Ban bewirken...:
</td>
</tr>
<tr>
<td style="text-align: left;">
&middot; Du hast das Chatklima extrem gest&ouml;rt!<br>
&middot; Du hast gegen geltendes Recht und/oder den guten Sitten versto&szlig;en!<br>
&middot; Du hast unerw&uuml;nschte Werbung betrieben!<br>
&middot; Du hast den Anweisungen der Administratoren und/oder Staff-Mitgliedern trotz mehrfacher Ermahnung nicht folge geleistet!<br>
&middot; Du hast zuviele gleichzeitige Verbindungen zum Chat aufgebaut (Clones)!<br>
</td>
</tr>
</table>
</p>
