<!-- design=frameset_community -->
<h1>%SERVER_SOFTWARE%-Chattiquette</h1>
      <ol>
        <li> 
          Meet other chatters with respect and courtesy. Then they too will respect you and treat you politely.
        </li>
        <li>
          When you enter a chat room for the first time, don’t jump right into the action. See what kind of people are there and what kind of mood prevails. You don't run into a pub, jump on a table and yell, "Hey guys, there I am - talk to me!" Maybe you are not in the mood and people in this chat, then you can just change the room.
        </li>
        <li>

          Do you like to flirt? But maybe not your counterpart. If someone behaves dismissively, leave him/her alone instead of continuing to drill. Some people are already annoyed by the question: "Are you m or w?"
        </li>
        <li>
          Everyone has a bad mood. But don’t let those feelings out on the other chatters! If you are feeling bad, you do not have to make life difficult for others - because chatting is fun after all.
        </li>
        <li>
          Help the newbies! When a "newbie" comes in, remember your first chat. Did anyone help you then? Then do the same to him. Did no one help you? Then do it better than the others who should have helped you. Maybe the newbie will become a regular chatter and a friend.</li>
        <li>
          If you want to address someone, then address your sentence, example: Hi Nickname. What music do you like to listen to? Otherwise, he may not know that your question was addressed to him - and therefore will not answer.
        </li>

        <li>
          Chatting is fun and humor is part of it. But everyone has a different sense of humor, and what you find totally funny can cause stomach pain in another. Quite apart from the fact that written works often quite differently than spoken.
        </li>
        <li>
          <span style="text-transform: uppercase;">
            Capital letters
          </span>
          , graphic smileys and other special commands are only to be used as emphasis, for example, when you address someone and highlight their name or you want to express your mood. If you use these remedies constantly, the others will react annoyed. With capital letters you express, among other things, that you scream. Whoever writes nonstop makes himself unpopular.
        </li>
        <li> 
          Remember: glorification of violence and drugs, pornographic representations and racist expressions are punished by criminal law.
         </li>

        <li> 
          If someone behaves wrong in the chat, just leave him alone. He will get bored after a short time and disappear if no one pays attention to him. If it is a particularly persistent one, notify the chat operator or a staff present. In any case, you should notify the chat operator if someone makes himself punishable by his statements.
         </li>
        <li> 
          Since you have the opportunity to choose a "nick" (abbreviation for nickname), do not choose a nick that offends other chatters or has the goal of annoying other chatters (e.g. fake-nicks). Of course, racist or violence glorifying Nicks are also forbidden.
        </li>
        <li> 
          Do not delude yourself that you are anonymous in the chat. You are not. Chat servers cut your computer address (IP) and store it. Via the IP address, the chat operator comes to your provider. This in turn saves your phone number with which you dialed in. Thus, the chat operators have the opportunity to hold people who are particularly unpleasant to account. Most chats log the chats to prove crimes.
        </li>
        <li> 
          There is the possibility to throw a link into the chat, do not use this for advertising for other commercial offers or chats. But also the constant insertion of the link to your own homepage gets on your nerves pretty quickly!
        </li>
        <li> 
          Never advertise Chatter for another chat! If you do not like the chat, you do not need to announce it constantly. If you like another chat better, go to the other chat.
        </li>

        <li> 
          If you only commit a "slight" violation of the chatiquette, you will be warned. You should take this warning seriously - there will usually be another one.
        </li>
        <li>
          For more serious or repeated violations of the chatiquette, you will be kicked by an operator (thrown out of the chat). After that, you can enter the chat again right away, but this does not mean that you can continue, as before the kick. A kick is the last warning of a ban and is not executed without reason.
        </li>
        <li> 
          In case of serious violations of the chatiquette you can be permanently expelled from the chat. For this purpose, your IP will be blocked.
         </li>
      </ol>
    <div style="font-weight: bold;">
      Your %SERVER_SOFTWARE% team
    </div>