<!DOCTYPE html>
<html>
<head>
  <title>Fehler!</title>
  <meta content="%SERVER_VENDOR%" name="author">
  <meta content="&copy;%SERVER_YEAR% by %SERVER_VENDOR%" name="description">
  <meta content="%SERVER_SOFTWARE% %SERVER_VERSION%-%SERVER_STATUS%" name="software">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <link rel="preload" href="file/fonts/TwitterColorEmoji-SVGinOT.ttf" as="font">
  <link rel="preload" href="file/fonts/NotoColorEmoji.ttf" as="font">
  <link rel="stylesheet" href="%PATH_[style]%" type="text/css">
  <script type="text/javascript" src="%PATH_[script_post]%"></script>
</head>
<body>
<div id="profilecontent">
%content%
</div>
</body>
</html>