<!-- design=start -->
<h1>
%SERVER_SOFTWARE%Error
</h1>
<p>
Your nickname or Your IP address has been temporarily blocked by one of our administrators or staff members!
</p>
<p>
<table>
<tr>
<td style="text-align: left; font-weight: bold;">
This can have several causes:
</td>
</tr>
<tr>
<td style="text-align: left;">
· You have disturbed the chat climate extremely!<br>
· You have violated applicable law and/or morality!<br>
· You have done unwanted advertising!<br>
· You have not followed the instructions of the administrators and/or staff members despite multiple admonitions!<br>
· You have built too many simultaneous connections to the chat (clones)!<br>
</td>
</tr>
</table>
</p>
<p>
Please try again later!
</p>