<!-- design=frameset_community_reg -->
<h1>Welcome to the %SERVER_SOFTWARE%</h1>
<p>
This chat is a community project and is a replica of historical web chats.
</p>
<p>
For now, this chat is ad-free and is supported by donations.
<p>
The chat is feature complete and will soon be available for download!
<p>
Our team is looking forward to you becoming part of HWebChat and its community.
</p>
  They are: <span style="font-weight: bold;">%reg_count%</span> User registered, <span style="font-weight: bold;">%user_count_community%</span> Logged into the community!
<p class="users">
<script type="text/javascript" src="%PATH_[script_room]%"></script>
</p>
<p>
Have fun in the chat!
</p>
