<!-- design=start -->
<h1>Welcome to the %SERVER_SOFTWARE%</h1>
<p>
This community software is a community project and contains a replica of historical web chats.
</p>
<p>
For now, this community is ad-free and supported by donations.
<p>
The community software is in an early status and will soon be available for download!
<p>
Our team is looking forward to you becoming part of HWebChat and its community.
</p>
  They are: <span style="font-weight: bold;">%reg_count%</span> User registered, <span style="font-weight: bold;">%user_count_community%</span> logged into the community and <span style="font-weight: bold;">%user_count%</span> Chatter in chat!
<p>
Have fun in the community!
</p>
