<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>%com[design_title_account_error]%</title>
  <meta content="%SERVER_VENDOR%" name="author">
  <meta content="©%SERVER_YEAR% by %SERVER_VENDOR%" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="%path_file%bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="%PATH_[style_napping]%" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="%PATH_[script_post]%"></script>
</head>
<body style="background-color: #%bg_color_1%;">
<div id="profilecontent" style="background-color: #ffffff; margin: 0.5rem; padding: 1rem; border-radius: 0.5rem;">
%content%
</div>
</body>
</html>